body{
    background-image: url("/assets/images/blue bricks.jpg")
}

.Intro{
    background-color: blanchedalmond;
}
.random{
    float: left;
	width: 15%;
	height: 60px;
}
.ratio{
    float: left;
	width: 15%;
	height: 60px;
}
.crystalpic{
    height: 60px;
	margin: 10px;
}
